* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #333; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Helvetica;
}

.center-text {
  position: absolute;
  top: 1.5%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: white;
  z-index: 2; 
}

.main-title, .subtitle {
  text-shadow: 0 0 10px rgb(216, 187, 207);
  transition: text-shadow 0.3s ease, transform 0.3s ease;
}

.main-title:hover, .subtitle:hover {
  text-shadow: 0 0 20px rgba(255, 255, 255, 1), 0 0 40px rgba(255, 38, 183, 0.788);
  transform: scale(1.1); 
}

.main-title {
  font-size: 48px;
}

.subtitle {
  font-size: 24px;
  margin-top: 10px;
}

.container {
  display: flex; 
  justify-content: center; 
  align-items: flex-start; 
  width: 80vw; 
  margin: 100px auto; 
  gap: 100px; 
}

.frame {
  flex: 1; 
  position: relative;
  overflow: hidden;
  border: 4px solid #fff;
  cursor: pointer;
  transition: transform 0.2s ease;
  border-radius: 5px; 
  max-width: 700px; 
}

.frame:hover {
  transform: scale(1.05); 
}

.frame .game-image {
  width: 100%;
  height: 650px; 
  object-fit: cover;
  transition: transform 0.3s ease; 
}

.frame:hover .game-image {
  transform: scale(1.05); 
  filter: brightness(1.1); 
}

.overlay {
  position: absolute;
  top: 10px;
  left: 10px;
  color: white;
  z-index: 1;
  background: rgba(0, 0, 0, 0.6);
  padding: 10px;
  border-radius: 5px;
}

.black-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0;
  transition: opacity 0.5s ease;
  z-index: 10;
  pointer-events: none;
}

.black-overlay.active {
  opacity: 1;
  pointer-events: all;
}

@keyframes clickEffect {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}
